[
    {sasl, [
        %% 关闭SASL日志
        {sasl_error_logger, false}]},

    {lager, [
        {ignore_tags,[activity,g_activity,log_db,g_timer,mod_jyukai,mod_picture]},
        {output_proto,true},
        {output_proto_msg,true},
        {max_arg_length,20},
        {max_tag_length,14},
        {handlers, [
            %% 控制台输出
            {lager_console_backend, [
                info,
                {lager_jj_formatter,
                    [time," ",severity," ","[",{id,""},"] ",{tag,"none"},{sign,"|"}," ",{cmd_in,""},{cmd_out,""},message,"\n"]}]},

            %% 错误日志
            {lager_file_backend, [
                {file, "log/critical.log"},
                {level, critical},
                %% 单个文件最大200M，每天00:00滚动，最多5个文件
                {size, 209715200}, {date, "$D0"}, {count, 5},
                {formatter, lager_default_formatter},
                {formatter_config,
                    [date," ",time,"|",severity,"|",{tag,"none"},"|",{id,"none"},"|",
                        {module,"none"},":",{line,"0"},
                        "|",pid,"|",message,"\n"]}]},
            %% 错误日志
            {lager_file_backend, [
                {file, "log/error.log"}, 
                {level, error},
                %% 单个文件最大200M，每天00:00滚动，最多5个文件
                {size, 209715200}, {date, "$D0"}, {count, 5},
                {formatter, lager_default_formatter},
                {formatter_config,
                    [date," ",time,"|",severity,"|",{tag,"none"},"|", 
                     {module,"none"},":",{line,"0"},
                     "|",pid,"|",message,"\n"]}]},
            %% 其他日志
            {lager_file_backend, [
                {file, "log/console.log"}, 
                {level, info},
                %% 单个文件最大200M，每天00:00滚动，最多5个文件
                {size, 209715200}, {date, "$D0"}, {count, 5},
                {formatter, lager_default_formatter},
                {formatter_config,
                    [date," ",time,"|",severity,"|",{tag,"none"},"|",
                     {module,"none"},":",{line,"0"},
                     "|",pid,"|",message,"\n"]}]}]},

        {colored, true},
            {colors, [
              {debug,     "\e[0;38m" },
              {info,      "\e[1;37m" },
              {notice,    "\e[1;36m" },
              {warning,   "\e[1;33m" },
              {error,     "\e[1;31m" },
              {critical,  "\e[1;35m" },
              {alert,     "\e[1;44m" },
              {emergency, "\e[1;41m" }

            ]},

        %% Crash日志
        {crash_log, "log/crash.log"},
        {crash_log_msg_size, 65536},
        {crash_log_size, 209715200},
        {crash_log_date, "$D0"},
        {crash_log_count, 5},
        %% Mailbox中累计多少消息时切换到同步方式
        {async_threshold, 20},
        %% 每秒钟最多从error_logger接收多少条消息
        {error_logger_hwm, 200},
        %% 重定向error_logger的错误消息
        {error_logger_redirect, true}]},

    {ranch, [
        %% 不允许创角标志
        {is_forbid_create_acc, false},
        %% 服务端ID
        {server_index, 10},
        %% 平台ID % 1-4399 2-多玩 3-QQ
        {platform_list, []},               
        %% 合服前的服务端ID列表
        {hosted_server_indexes, [10]},
        %% 登录超时时间，单位毫秒
        {login_timeout, 600000}]},

    {h5_game_app, [
        %% 服务器id
        {server_id,  4},
        %% 允许的平台ID列表 % 1-4399 2-多玩 3-QQ
        {platform_list, [0,1,2,3,4,4001]},   
        %% GM命令是否开启
        {gm_enabled, true},
        %% 服务端监听端口
        {listen_port, 13000},
        %% 登陆校验KEY
        {server_key, "2608e527650efc9b1b666480f77e172b"},
        %% 每个玩家带的最大新佣兵数，0表示无限制
        {role_num_limit, 0},
        %% 开服时间
        {open_date, {2014,1,9}},
        %% 中心服节点
        {center_node, 'mg_center@192.168.1.109'},
        %% PHP执行路径
        {php_exec_path, "php"},
        %% JAVA执行路径
        {java_exec_path, "java"},
        %% 是否跨服组服务器 1是 其他否
        {is_group_server, 1},
        %% 组id
        {group_id, 1}
            ]},

    {emysql,[
        {default_timeout, 20000}
    ]},

    {cache, [
        {db_host, "192.168.1.15"},
        {db_port, 3306},
        {db_user, "root"},
        {db_pass, "s1_db"},
        {db_name, "h5_s1"},
        {db_encode, utf8},
        {db_pool_size, 50},
        {is_pre_all,false}]},

    {db, [
        {db_host, "127.0.0.1"},
        {db_port, 3306},
        {db_user, "root"},
        {db_pass, "123456"},
        {db_name, "mg_server"},
        {db_encode, utf8},
        {db_pool_size, 10},
        {is_pre_all,false}]},
        
    {background, [
        %% 后台端口
        {oceanus_state_node, 'oceanus_status@172.16.203.103'},
        {center_node, 'oceanus_status@172.16.203.103'},
        {background_port, 10010},
        {db_host, "127.0.0.1"},
        {db_port, 3306},
        {db_user, "root"},
        {db_pass, "123456"},
        {db_name, "zs_server"},
        {db_log_name, "zs_log"},
        {db_stat_name, "yscmc_stat"},
        {db_center, "yscmc_back_center"},
        {db_encode, utf8},
        {background_key, <<"^iu0FhiUKvK*5-kfG$jn">>}
        ]},

    {web_monitor, [
        %% 监控端口
        {monitor_port, 12001},
        {monitor_cert_file, "cert/web_monitor.crt"},
        {monitor_key_file, "cert/web_monitor.key"}]},

    {game_logger, [
        %% 游戏日志
        {db_host, "127.0.0.1"},
        {db_port, 3306},
        {db_user, "root"},
        {db_pass, "123456"},
        {db_name, "mg_server"},
        {db_log_name, "mg_log"},
        {db_encode, utf8},
        {db_pool_size, 10}]}
].
